# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Production build outputs
dist/
client/dist/
server/dist/

# TypeScript build info
*.tsbuildinfo
client/*.tsbuildinfo
server/*.tsbuildinfo

# OS Metadata
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
